<section class="welcome full-screen">
  <div class="welcome__content">
    <h2 class="welcome__title section-title">Welcome to Noda Payment Links</h2>
    <div class="welcome__info">
      <div class="welcome__text">
        <h4 class="welcome__subtitle">Where we harness the power of AI to revolutionize the way creating payment
          pages</h4>
        <p class="welcome__paragraph">Our advanced platform combines the capabilities of <strong>ChatGPT</strong>
          for generating detailed text descriptions and
          <strong>MidJourney</strong> for selecting suitable images.
          With our innovative solution, you can effortlessly design and customize branded order pages for every
          transaction, complete with the following features</p>
        <div class="welcome__arrow">
          <img src="assets/img/icons/welcome-section/welcome-arrow.svg" alt="An arrow pointing at the shape">
        </div>
      </div>
      <div class="welcome__form-wrapper">
        <app-welcome-form class="welcome__form"/>
      </div>
    </div>
  </div>
</section>
