@import '../../../../../src/assets/mixins';

.button {
  display: inline-block;
  color: #FFFFFF;
  min-width: 100px;
  padding: 1.2rem 2.4rem;
  @include adaptive-prop('font-size', 1.6, 2);

  &.main {
    background: #6936D3;
    border-radius: 4px;

    &:hover {
      background: #947AFF;
    }

    &:active {
      background: #4A16B5;
    }

    &:disabled {
      background: #C9CCD8;
    }
  }

  &.transparent {
    font-size: 1.4rem;
    line-height: 150%;
    padding: 0.8rem 1.6rem;

    background: transparent;
    border-radius: 2px;
    color: #F7F9FC;
    border: 1px solid rgba(255, 255, 255, 0.50);
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:disabled {
      background: #C9CCD8;
    }
  }

  &.gradient {
    position: relative;
    z-index: 1;
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    border-radius: 34px;
    background: linear-gradient(90deg, #6936D3 0.05%, #F16F6F 99.95%);
    color: #FFFFFF;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      opacity: 0;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s;
      background: linear-gradient(90deg, #F16F6F 0.05%, #6936D3 99.95%);
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &.with-arrow:after {
    content: '→';
    display: inline-block;
    padding-left: 0.5rem;
  }

  &:disabled {
    cursor: default;
  }
}
