@import '../../../../../src/assets/mixins';

.button {
  display: inline-block;
  color: var(--Noda-White);
  min-width: 100px;
  padding: 1.2rem 2.4rem;
  @include adaptive-prop('font-size', 1.4, 2);

  &.main {
    background: var(--Noda-Plum);
    border-radius: 4px;

    &:hover {
      background: var(--Noda-Plum-Light);
    }

    &:active {
      background: var(--Noda-Plum-Dark);
    }

    &:disabled {
      background: var(--Noda-Lignt-Gray);
    }
  }

  &.transparent {
    font-size: 1.4rem;
    line-height: 150%;
    padding: 0.8rem 1.6rem;

    background: transparent;
    border-radius: 2px;
    color: var(--Noda-White-Second);
    border: 1px solid var(--Noda-Half-Trans-White);
    transition: background-color .2s;

    &:hover {
      background-color: var(--Noda-10-Trans-White);
    }

    &:active {
      background-color: var(--Noda-20-Trans-White);
    }

    &:disabled {
      background: var(--Noda-Lignt-Gray);
    }
  }

  &.gradient {
    position: relative;
    z-index: 1;
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    border-radius: 34px;
    background: var(--Noda-Plum-Pink-Grad);
    color: var(--Noda-White);
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      opacity: 0;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s;
      background: var(--Noda-Pink-Plum-Grad);
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &.with-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '→';
      display: inline-block;
      padding-left: 0.5rem;
    }
  }

  &:disabled {
    cursor: default;
  }
}
