@import 'assets/null';
@import 'assets/mixins';

:root {
  --Noda-White: #FFFFFF;
  --Noda-White-Second: #F7F9FC;
  --Noda-Bg: #29304D;
  --Noda-Plum: #6936D3;
  --Noda-Plum-Light: #947AFF;
  --Noda-Plum-Dark: #4A16B5;
  --Noda-Lignt-Gray: #C9CCD8;
  --Noda-Lignt-Blue-Gray: #A3A7BD;
  --Noda-Pink: #F16F6F;
  --Noda-Pink-Plum-Grad: linear-gradient(90deg, var(--Noda-Pink) 0.05%, var(--Noda-Plum) 99.95%);
  --Noda-Plum-Pink-Grad: linear-gradient(90deg, var(--Noda-Plum) 0.05%, var(--Noda-Pink) 99.95%);
  --Noda-Halfway-Dark-Grad: linear-gradient(180deg, rgba(41, 48, 77, 0.00) 50%, var(--Noda-Bg) 100%);
  --Noda-Half-Trans-White: rgba(255, 255, 255, 0.5);
  --Noda-20-Trans-White: rgba(255, 255, 255, 0.2);
  --Noda-10-Trans-White: rgba(255, 255, 255, 0.1);
  --Noda-Third-Trans-Black: rgba(0, 0, 0, 0.33);
  --Noda-Dark-Text: #1D2445;
  --Noda-Error: #DD667E;
  --Noda-Header-Bg: #171B2C;
  --Noda-Header-White: #E8EAF3;
  --Noda-White-Side: #DDE3E9;
  --Noda-Half-Gray: rgba(231, 234, 243, 0.50);
}

html, body {
  font-family: Inter, serif;
}

html.no-scroll {
  overflow: hidden;
  height: 100%;
}

.full-screen {
  min-height: calc(100vh - 60px);
}

.section-title {
  @include adaptive-prop('font-size', 3.6, 4.8);
}
